// background color 
$bg-primary: #2980b9;
$bg-secondary: #bdc3c7;
$bg-white: #ecf0f1;

// text color 
$color-black: #2d3436;
$color-gray: #636e72;
$color-white: #ffffff;
$color-light: #ddd;

// font

