@import './partials/variables';

.my_todo_task {
    header {
		padding: 1.5rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-secondary;
		h3 {
			font-size: 1.5rem;
			color: $color-black;
		}
		small {
			color: $color-gray;
		}
	}
}

.todo_task_grp {
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    color: $color-gray;
    .task_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-light;
        padding-bottom: 0.5rem;
        input {
            margin-top: 1rem;
            display: inline-block;
            margin-right: 0.5rem;
        }
        .cencel_btn {
            font-size: 1.1rem;
            cursor: pointer;
            transition: .5s;
            &:hover {
                transform: scale(1.2);
                color: $color-black;
            }
        }
    }
}
.delete {
    text-decoration: line-through;
    color: $color-light-gray;
}